{% extends "base.html" %}

{% block title %}Networker{% endblock %}

{% block content %}

  <div class="">
    <form method="POST" action="{{ url_for('userinfluence')}}">
        <button type="submit" class="btn btn-primary">Who's Most Influential (users)?</button></p>
    </form>
    <form method="POST" action="{{ url_for('domaininfluence')}}">
        <button type="submit" class="btn btn-primary">Who's Most Influential (domains)?</button></p>
    </form>
    <form method="POST" action="{{ url_for('sna')}}">
        <button type="submit" class="btn btn-primary">Run Social Network Analysis</button></p>
    </form>
    <form method="POST" action="{{ url_for('snagraph')}}">
        <button type="submit" class="btn btn-primary">Run Coordinated Behavior Analysis</button></p>
    </form>
    <form method="POST" action="{{ url_for('topics')}}">
        <button type="submit" class="btn btn-primary">Run Topic Analysis</button></p>
    </form>
  </div>
  <div>
    <!--<img src="{{ url_for('snagraph') }}" alt="Complete Graph with x nodes" height="200" />-->
    <table class="table table-striped table-bordered">
      <tr>
        {% for column in columns %}
        <th> {{ column }} </th>
        {% endfor %}
      </tr>
        {% for row in values %}
      <tr>
        {% for cell in row %}
        <td>{{ cell }}</td>
        {% endfor %}
      </tr>
        {% endfor %}
    </table>
  <!--<p>Link: {{output}}</p>-->
  </div>
{% endblock %}
