{% extends "base.html" %}

{% block title %}Networker{% endblock %}

{% block content %}

<div>
  <p><a href="{{ url_for('communitydetected')}}">Go Back</a></p>
  <table>
    <tr>
      {% for column in columns %}
      <th> {{ column }} </th>
      {% endfor %}
    </tr>
      {% for row in values %}
    <tr>
      {% for cell in row %}
      <td>{{ cell }}</td>
      {% endfor %}
    </tr>
      {% endfor %}
  </table>
<br>
<form method="POST" action="{{ url_for('exportcom')}}">
    <b>Export for Batch Upload to CrowdTangle</b>
    <!--<p>Enter List Type</p>>
    <input type="radio" name="options" id="option1" value="pages"> Pages </input><br>
    <input type="radio" name="options" id="option2" value="groups"> Groups </input><br>-->
    <p>Enter List Name <input type="text" name="listname">
    <br>
    <button type="submit" class="btn btn-primary">Export</button></p>
</form>
<!--<p>Link: {{output}}</p>-->
</div>
{% endblock %}
